# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Uploads
uploads/temporary/

# Operating System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Database
*.sqlite
*.db

# Testing
coverage/

# Optional
*.pid